@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.nav-menu {
    display: flex;

    justify-content: space-around;

    gap: 3rem;
}

.nav-toggler div {
    width: 2rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: white;
    transition: 0.2s ease-in;
}

.nav-toggler {
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 1282px) {
    .nav-toggler {
        display: block;
    }

    .nav-menu {
        justify-content: initial;
        z-index: 100;
        position: fixed;
        flex-direction: column;
        right: 0;
        height: 100%;
        transform: translateX(100%);
        transition: 0.2s ease-in-out;
    }
}

.nav-active {
    transform: translateX(0);
}

.toggler .line1 {
    transform: rotate(-45deg) translate(-14px, 8px);
}

.toggler .line2 {
    opacity: 0;
}

.toggler .line3 {
    transform: rotate(45deg) translate(-6px, 2px);
}

